{% extends 'patients/base.html' %}

{% block content %}

<br>
    <div class="row">
        <div class="col-md-12">
            <h5>Patients</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary btn-sm btn-block" href="">Add patient to queue</a>
                <table class="table table-sm">
                    <tr>
                        <th>Patient Name</th>
                        <th>Check-In Time</th>
                        <th>Status</th>
                        <th>Remove</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}